<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DEMO</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="container body-content">
        <section>
            @RenderBody()
        </section>
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - By <a href="http://fabianonalin.net.br" target="_blank">Fabiano Nalin</a></p>
        </footer>
    </div>
</body>
</html>
